/*https://css-tricks.com/snippets/css/typewriter-effect/*/


:root {
    --primary: #2c3d6b;
    --secondary: #8f6f04;
    --light: #d8e0fa;
    --dark: #343a40;
    --image-size: 300px;
    /*--button-size: auto;*/
}

header {
    background-color: var(--primary);
    text-align: center;
    color: var(--light);
    text-shadow: 2px 5px black;
    box-shadow: 1px 5px var(--secondary);
}

main {

}

.imageSquare {
    border-radius: 35%;
    border: 3px solid var(--secondary);
    width: var(--image-size);
    height: var(--image-size);
    margin: 2em auto;
    text-align: center;
}

#content {
    margin: 1em auto;
    text-align: center;
    font-size: 24px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--light);
}

button:hover {
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    background-color: var(--secondary);
}

button:active {
    background-color: var(--dark);
    box-shadow: 0 5px var(--light);
    transform: translateY(4px);
}

footer {

}

/*.typing  {*/
/*    !*position: relative;*!*/
/*    top: 50%;*/
/*    width: 24em;*/
/*    !*margin: 0 auto;*!*/
/*    border-right: 2px solid rgba(255,255,255,.75);*/
/*    font-size: 150%;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    transform: translateY(-50%);*/
/*    animation: typewriter 4s steps(44) 1s 1 normal both,*/
/*    blinkTextCursor 500ms steps(44) infinite normal;*/
/*}*/

/*@keyframes typewriter{*/
/*    from{*/
/*        width: 0;*/
/*        bottom: 0;*/
/*    }*/
/*    to{*/
/*        width: 24em;*/
/*        bottom: 50em;*/
/*    }*/
/*}*/
/*@keyframes blinkTextCursor{*/
/*    from{border-right-color: var(--secondary);}*/
/*    to{border-right-color: transparent;}*/
/*}*/